<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Ajat</key>
		<array>
			<dict>
				<key>Alku</key>
				<date>2014-11-09T22:33:28Z</date>
				<key>Loppu</key>
				<date>2014-11-09T22:33:39Z</date>
			</dict>
			<dict>
				<key>Alku</key>
				<date>2014-11-09T22:37:04Z</date>
			</dict>
		</array>
		<key>Kaytossa</key>
		<true/>
		<key>Kuva</key>
		<string>256px-Common_Squirrel.jpg</string>
		<key>Nimi</key>
		<string>Opetus</string>
	</dict>
	<dict>
		<key>Ajat</key>
		<array/>
		<key>Kaytossa</key>
		<false/>
		<key>Kuva</key>
		<string>256px-Common_Squirrel.jpg</string>
		<key>Nimi</key>
		<string>Materiaali &amp; suunnittelu</string>
	</dict>
	<dict>
		<key>Ajat</key>
		<array/>
		<key>Kaytossa</key>
		<false/>
		<key>Kuva</key>
		<string>256px-Common_Squirrel.jpg</string>
		<key>Nimi</key>
		<string>Muut työt</string>
	</dict>
	<dict>
		<key>Ajat</key>
		<array/>
		<key>Kaytossa</key>
		<false/>
		<key>Kuva</key>
		<string>256px-Common_Squirrel.jpg</string>
		<key>Nimi</key>
		<string>Opiskelu</string>
	</dict>
	<dict>
		<key>Ajat</key>
		<array/>
		<key>Kaytossa</key>
		<false/>
		<key>Kuva</key>
		<string>256px-Common_Squirrel.jpg</string>
		<key>Nimi</key>
		<string>Oravien ruokinta</string>
	</dict>
</array>
</plist>
